body {
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
}

#cntrl_bar {
    height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #24272d;
    -webkit-app-region: drag;
}

#app_name {
    font-size: 0.9rem;
    color: #d6d6d6;
    margin-right: auto;
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
}

.cntrl_wrapper {
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23272a;
    -webkit-app-region: no-drag;
}

.cntrl {
    height: 64%;
    width: 44%;
    fill: #d6d6d6;
}

.cntrl_wrapper:hover {
    background-color: #2c2f33;
}

#close_app:hover {
    background-color: #ff3636;
}

.cntrl_wrapper:hover .cntrl {
    fill: #ffffff;
}

.navbar {
    display: flex;
    /* background-color: #23272a; */
    background-color: #24272d;
    height: 100vh;
    width: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#nav_cont_wrapper {
    display: flex;
    /* background-color: #23272a; */
    background-color: #24272d;
}

.btn_nav {
    margin: 20px 0;
    width: 80%;
    height: 3rem;
    transition: transform 150ms ease-in-out;
    transform: scale(1)
}

.btn_nav:hover {
    transform: scale(1.15)
}

#settings {
    margin: 20px 0;
    width: 80%;
    height: 3rem;
    transition: transform 190ms ease-in-out;
    transform: rotate(0deg);
}

#settings:hover {
    transform: rotate(-45deg);
}

#people_container {
    background-color: #36393f;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 3px;
    padding: 4px;
}

#people_container::-webkit-scrollbar {
    background: #2a2b30;
    width: 5px;
    border-radius: 4px;
}

#people_container::-webkit-scrollbar-thumb {
    background: #191a1d;
    border-radius: 4px;
}

.form_field, .form_select {
    font-size: 1rem;
    background-color: #2f3136;
    color: #d6d6d6;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2f3136;
    padding: 5px;
    outline: 0;
    transition: border-color 0.1s ease-in-out;
    font-family: 'Nunito', sans-serif;
    border-style: solid;
    margin: 5px;
}

.form_field:hover, .form_select:hover, .selected:hover {
    border-color: black;
}

.form_field:focus, .form_select:focus {
    border-color: #7289da;
}

.first_piece {
    display: flex;
    background-color: inherit;
}

#user_form {
    background-color: #36393f;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbl {
    font-size: 1rem;
    color: #d6d6d6;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
    white-space: nowrap;
}

.line {
    width: 90%;
    border-color: #7289da;
    border-radius: 20px;
    border-style: solid;
    size: 3px;
    margin: 15px 0;
}

#close_form {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    left:90%;
}

#close_form > circle {
    fill: #2f3136;
}

#close_form:hover > circle {
    fill:#595959;
}

.selected {
    display: flex;
    font-size: 1rem;
    background-color: #2f3136;
    color: #d6d6d6;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2f3136;
    padding: 3px;
    outline: 0;
    transition: border-color 0.1s ease-in-out;
    font-family: 'Nunito', sans-serif;
    border-style: solid;
    margin: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 150px;
}

.selected.focused {
    border-color: #7289da;
}

.selected.focused .arrow_select {
    transform: rotate(0deg);
}

.select_input {
    font-size: 1rem;
    background-color: #2f3136;
    color: #d6d6d6;
    border: none;
    padding: 3px;
    outline: 0;
    font-family: 'Nunito', sans-serif;
    width: 70%;
    margin-right: 10px;
    cursor: pointer;
    pointer-events: none;
}

.arrow_select {
    margin-left: 10px;
    width: 15px;
    height: 40%;
    fill:#d6d6d6;
    transition: transform 0.25s ease-in-out;
    transform: rotate(180deg);
    pointer-events: none;
}
.select_wrapper {
    position: relative;
    max-width: 300px;
}

.select_options {
    background-color: #2f3136;
    font-family: 'Nunito', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    max-height: 0;
    transition: all 0.15s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    min-width: 350px;
    max-width: 500px;
}

.select_options::-webkit-scrollbar {
    background: #2a2b30;
    width: 5px;
    border-radius: 4px;
}

.select_options::-webkit-scrollbar-thumb {
    background: #191a1d;
    border-radius: 4px;
}

.selected.focused + .select_options {
    opacity: 1;
    max-height: 250px;
}

.option {
    width: 100%;
    display: flex;
    background-color: inherit;
    color: #d6d6d6;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
    white-space: nowrap;
}

.option:hover {
    cursor: pointer;
    background-color: #7289da;
}

.select_options  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lbl_1 {
    font-size: 1.1rem;
    color: #d6d6d6;
    font-family: 'Nunito', sans-serif;
    margin: 10px;
}

.calendar {
    display:flex;
    background-color: #36393f;
    width: 300px;
    height: 200px;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    top: -210px;
    left: 50%;
    transform: translateX(-30%);
    border:none;
    outline:none;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.calendar.active {
    pointer-events: all;
    transform: translateX(-50%);
    opacity: 1;
}

.cell_date {
    display: flex;
    background-color: #2f3136;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    color: #d6d6d6;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Nunito', sans-serif;
}

.cell_date:hover {
    background-color: #23272a;
}

.cell_date.active {
    background-color: #7289da;
}

.cur_date {
    width: 100%;
    height: 20%;
    background-color: #23272a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dates {
    width: 100%;
    height: 80%;
    background-color: #2f3136;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.arrow_date_left, .arrow_date_right {
    width: 20px;
    height: 100%;
    cursor: pointer;
    margin: 0 5px;
    fill:#d6d6d6;
}

.arrow_date_left {
    transform: rotate(90deg);
}

.arrow_date_right {
    transform: rotate(-90deg);
}

.arrow_date_left:hover, .arrow_date_right:hover {
    fill: #7289da;
}

.app_button_blue {
    font-family: 'Nunito', sans-serif;
    color:  #d6d6d6;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #7289da;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-color: #7289da;
    outline: none;
    transition: all 0.15s ease-in-out;
}

.app_button_blue:hover {
    background-color: #5771ce;
    border-color: #5771ce;
}

.app_button_grey {
    font-family: 'Nunito', sans-serif;
    color:  #d6d6d6;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #2f3136;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-color: #2f3136;
    outline: none;
    transition: all 0.15s ease-in-out;
}

.app_button_grey:hover {
    background-color: #23272a;
    border-color: #23272a;
}

.app_button_grey.active_tab {
    background-color: #23272a;
    border-color: #23272a
}

#file_added_checkmark {
    width: 45px;
    height: 45px;
    opacity: 0;
    margin-left: 15px;
    opacity: 0;
}

#file_added_checkmark.success {
   opacity: 1;
}

#file_added_prompt {
    opacity: 0;
}

#file_added_prompt.success {
    opacity: 1;
}

.date_picker_pic {
    width: 22px;
    height: 22px;
    fill: #d6d6d6;
    margin: 0 5px;
    pointer-events: none;
}

.chosen_date {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3136;
    color: #d6d6d6;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2f3136;
    outline: 0;
    transition: border-color 0.1s ease-in-out;
    font-family: 'Nunito', sans-serif;
    border-style: solid;
    padding: 5px;
}

.chosen_date:hover {
    border-color: black;
}

.chosen_date.active {
    border-color: #7289da;
}

.selected.blocked {
    background-color: #23272a;
    pointer-events: none;
}

.notation, .notation_readonly {
    resize: none;
    background-color: #2f3136;
    color: #d6d6d6;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2f3136;
    padding: 5px;
    outline: 0;
    transition: border-color 0.1s ease-in-out;
    font-family: 'Nunito', sans-serif;
    border-style: solid;
    font-size: 1rem;
}

.notation_readonly {
    width: 90%;
    max-width: 1200px;
    height: 40px;
    cursor: default;
    transition: height 0.2s ease-in-out;
}

.notation {
    margin-left: 10px;
    width: 25%;
    height: 80px;
}

.notation:focus {
    border-color: #7289da;
}

.notation_readonly.wrapped {
    height: 0;
}

.notation::-webkit-scrollbar, .notation_readonly::-webkit-scrollbar {
    background: #2a2b30;
    width: 5px;
    border-radius: 4px;
}

.notation::-webkit-scrollbar-thumb, .notation_readonly::-webkit-scrollbar-thumb {
    background: #191a1d;
    border-radius: 4px;
}

.loading_anim__add_prob {
    width: 50px;
    height: 50px;
}

.card_data {
    font-size: 0.9rem;
    color: #d6d6d6;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
    white-space: nowrap;
    pointer-events: none;
    cursor: pointer;
}

.problem_info {
    display: grid;
    grid-template-columns: 2fr 2fr 4fr 3fr 5fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: inherit;
    border-radius: 5px;
    cursor: pointer;
}

.problem_controls {
    width: 100%;
    background-color: #2f3136;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    height: 0;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}

.card_wrapper {
    width: -webkit-fill-available;
    outline: 0;
    border-top: 1px solid #494c56;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    background-color: #36393f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
}

.card_wrapper.active {
    background-color: #2f3136;
    border-color: #2f3136;
    border-radius: 5px;
}

.card_wrapper.active + .card_wrapper {
    border: none;
}

.card_wrapper.active .problem_controls {
    opacity: 1;
    height: 50px;
}

.card_wrapper.hover {
    border: 1px solid #494c56;
    border-radius: 5px;
    background-color: #494c56;
}

.card_wrapper.hover .problem_info {
    background-color: #494c56;
}

.card_wrapper.hover + .card_wrapper {
    border: none;
}

.app_button_red {
    font-family: 'Nunito', sans-serif;
    color:  #f04747;
    font-size: 1rem;
    background-color: #2f3136;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #2f3136;
    outline: none;
    transition: all 0.15s ease-in-out;
}

.app_button_red:hover {
    color:  #d6d6d6;
    background-color: #f04747;
    border-color: #f04747;
}

#table_headers {
    width: 90%;
    min-width: 860px;
    background-color: inherit;
    display: grid;
    grid-template-columns: 2fr 2fr 4fr 3fr 5fr;
    justify-items: center;
    align-items: center;
    margin: 0 2px 5px 2px;
}

#people_cont__main_wrapper {
    background-color: #36393f;
    border-top-left-radius: 1%;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.table_header_item {
    font-size: 0.9rem;
    color: #919191;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
    white-space: nowrap;
    pointer-events: none;
    cursor: pointer;
}

.line_people_container {
    width: 90%;
    border-color: #7289da;
    border-radius: 20px;
    border-style: solid;
    size: 3px;
    margin: 25px 0;
}

#filters {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
}

#no_problems_descr {
    font-size: 1.1rem;
    color: #727272;
    font-family: 'Nunito', sans-serif;
    white-space: nowrap;
    pointer-events: none;
    margin-top: 10px;
}

.modal_background {
    position: absolute;
    width: 100%;
    height: 100%;
}